<header class="inc-header">
  <div class="row column">
    <nav class="top-bar">
      <div class="bar-title">
        <a href="/">
          <div class="logo"></div>
        </a>
      </div>
      <div class="bar-left">
        <ul class="nav-main menu">
          <li><a href="index.html">首页</a></li>
          <li><a href="packet.html" class="active">产品</a></li>
          <li><a href="">下载</a></li>
          <li><a href="">开发文档</a></li>
          <li><a href="about-me.html">关于我们</a></li>
          <li><a href="news.html">媒体报道</a></li>
        </ul>
      </div>
      <div class="login bar-right">
        <ul class="menu">
          <li>
            <a class="btn-login" href="login.html">登录</a>
          </li>
          <li>
            <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
