<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="/products/packet">云红包</a></li>
        <li><a href="/products/insure">云保险</a></li>
        <li><a href="/products/packet">云钱包</a></li>
        <li><a href="/products/market">理财超市</a></li>
      </ul>
    </div>
    <div class="center">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="/docs/api">开发者文档</a>
        </li>
        <li>
          <a href="/about">关于我们</a>
        </li>
        <li><a href="/news">媒体报道</a></li>
        <li><a href="/packet-price">收费标准</a></li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
