<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
