<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
</head>
<body>
  <div class="top-bar-wrapper" id="j-fixed-nav">
    <div class="row column">
      <nav class="top-bar nav clearfix">
        <div class="bar-title">
          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
        <div class="bar-left">
          <ul class="nav-main menu clearfix">
            <li>
              <a href="index.html">首页<span></span></a>
            </li>
            <li>
              <a href="packet.html">产品<span></span></a>
            </li>
            <li>
              <a href="download.html">下载<span></span></a>
            </li>
            <li>
              <a href="">开发文档<span></span></a>
              <span></span>
            </li>
            <li>
              <a href="about.html" class="active">关于我们<span></span></a>
            </li>
            <li>
              <a href="news.html">媒体报道<span></span></a>
            </li>
          </ul>
        </div>
        <div class="login bar-right">
          <ul class="menu">
            <li>
              <a class="btn-login" href="login.html">登录</a>
            </li>
            <li>
              <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<section class="about-banner">
  <div class="main">
    <h2>金融魔方•专注提供金融SaaS服务</h2>
    <h2>助力App实现金融赋能<span class="c_img"></span>活跃用户<span class="c_img"></span>流量变现</h2>
  </div>
  <div class="container">
    <p>
      北京一路魔方科技有限公司（简称金融魔方），是一路财富旗下全资子公司，最早在2014年提出金融魔方SaaS服务业务理念，希望通过提供金融SDK（Software Development Kit）,让每一个App快速拥有金融服务能力。
    </p>
    <p>
      经过金融魔方在SaaS服务领域的不断摸索以及团队的深耕钻研，从金融资质整合、金融机构上游对接、金融产品专业推荐、复杂的金融安全技术服务研发输出，再到数据运营工具的对接，逐步趋于成熟，如今已经形成一整套合规化、标准化的金融SaaS解决方案。他包含了四个具体的子SDK，即红包SDK、钱包SDK、理财超市SDK、保险SDK。让开发者摆脱复杂的底层开发，最快3个工作日即可让App拥有金融服务功能。
    </p>
    <p>
      金融魔方快速卡位，立足国内专业的金融SaaS服务，目前已经覆盖电信运营商、母婴、旅行、游戏、电商、移动办公、财税服务等场景；覆盖2亿月活用户。金融魔方的未来，是要做一个链接者。随着场景移动应用对于金融服务需求的不断深入，对于技术输出服务模式的认同，我们将真正成为一家以企业金融需求为基准的金融SaaS服务供应商。
    </p>
  </div>
</section>

<section class="sec-about-third">
  <div class="container">
    <ul class="people-list clearfix">
      <li>
        <div class="box">
          <div class="front user_1"></div>
          <div class="back">
            <p class="name">吴雪秀 &nbsp;<span>董事长</span></p>
            <p class="con">
              中央财经大学硕士MBA，拥有10年财富管理、投资管理、风险管理经验，投资众多互联网平台。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_2"></div>
          <div class="back">
            <p class="name">刘  嘉 &nbsp;<span>CEO</span></p>
            <p class="con">
              交大硕士，归国后成为早期O2O创业者，资深投资人，有着丰富的互联网创业和投资的经验。14年联合创立一路财富，带领团队专注魔方科技业务板块。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_3"></div>
          <div class="back">
            <p class="name">张  永 &nbsp;<span>CTO</span></p>
            <p class="con">
              7年开发经验，主导过多个大型互联网平台开发，包括在线会议平台、电子商务平台等，具有丰富的大型系统架构、项目管理、团队管理能力。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_4"></div>
          <div class="back">
            <p class="name">袁钦才 &nbsp;<span>金融VP</span></p>
            <p class="con">
              8年金融从业经验，长期供职金融机构，熟悉公募、私募基金产品，金融产品设计能力突出。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_5"></div>
          <div class="back">
            <p class="name">杜永旺 &nbsp;<span>CSO</span></p>
            <p class="con">
              8年金融从业经验，长期供职金融机构，熟悉公募、私募基金产品，金融产品设计能力突出。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_6"></div>
          <div class="back">
            <p class="name">龙鸣峰 &nbsp;<span>CDA</span></p>
            <p class="con">
              电通大数据CEO，原腾讯战略投资总监，清华EMBA，西南财经大学，电子科技大学兼职教授，对互联网、电子商务有15年以上从业、管理、投资经验。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_7"></div>
          <div class="back">
            <p class="name">秦  鹏 &nbsp;<span>产品总监</span></p>
            <p class="con">
              清华大学毕业，先后于百度、宇信易诚等金融IT公司就职，具有丰富的互联网产品设计、系统构建、团队管理经验。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_8"></div>
          <div class="back">
            <p class="name">张国良 &nbsp;<span>COO</span></p>
            <p class="con">
              曾任职腾讯、人人、搜狐等互联网公司，10年传媒与互联网经验，丰富的媒体资源和互联网运营经验。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_9"></div>
          <div class="back">
            <p class="name">张  敏 &nbsp;<span>CMO</span></p>
            <p class="con">
              曾任职苏宁易购华北区市场总监，8年互联网市场推广传播营销经验，丰富的市场营销、活动策划、品牌传播的经验。
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="box">
          <div class="front user_10"></div>
          <div class="back">
            <p class="name">孙国峰 &nbsp;<span>大客户总监</span></p>
            <p class="con">
              10年以上渠道商务合作工作经验，曾就职于天舟通信等多家公司，工作跨越通信服务、社区、移动互联网医疗等多个领域，具有丰富的移动互联网从业经验。
            </p>
          </div>
        </div>
      </li>
    </ul>
    <h2>一群喜欢接受挑战、追求新鲜、热爱生活又渴望改变生活的80后</h2>
    <div class="photo">

    </div>
  </div>
</section>
<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
