<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <div class="top-bar-wrapper" id="j-fixed-nav">
    <div class="row column">
      <nav class="top-bar nav clearfix">
        <div class="bar-title">
          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
        <div class="bar-left">
          <ul class="nav-main menu clearfix">
            <li>
              <a class="active" href="index.html">首页<span></span></a>
            </li>
            <li>
              <a href="packet.html">产品<span></span></a>
            </li>
            <li>
              <a href="download.html">下载<span></span></a>
            </li>
            <li>
              <a href="">开发文档<span></span></a>
              <span></span>
            </li>
            <li>
              <a href="about.html">关于我们<span></span></a>
            </li>
            <li>
              <a href="news.html">媒体报道<span></span></a>
            </li>
          </ul>
        </div>
        <div class="login bar-right">
          <ul class="menu">
            <li>
              <a class="btn-login" href="login.html">登录</a>
            </li>
            <li>
              <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- <section class="sec-d down-third">
    <div class="container">
      <div class="pull-right">
        <div class="hongbao1"></div>
      </div>
      <div class="pull-right info">
        <h2 style="text-align: right;">标准版IM红包</h2>
        <p style="text-align: right;">提升App活跃度、注册红包、下拉红包、推送红包等多种玩法，趣味性的运营工具</p>
        <ul class="box-list clearfix">
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">IOS版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload"><a href="">下载</a></p>
            </div>
          </li>
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">Android版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">DEMO</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section> -->
  <section class="sec-d down-second">
    <div class="container">
      <div class="left">
        <div class="hongbao1"></div>
      </div>
      <div class="left info">
        <h2>标准版IM红包</h2>
        <p>可定制化红包，普通红包、拼手气红包，更多有趣玩法</p>
        <ul class="box-list clearfix">
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">IOS版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">Android版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
          <!-- <li>
            <div class="d_box">
              <div class="con">
                <p class="til">DEMO</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </section>
  <section class="sec-d down-third">
    <div class="container">
      <div class="pull-right">
        <div class="wallet"></div>
      </div>
      <div class="pull-right info">
        <h2 style="text-align: right;">标准版钱包</h2>
        <p style="text-align: right;">一套完整合规的定制化自主品牌的综合账户体系</p>
        <ul class="box-list clearfix">
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">IOS版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload"><a href="">下载</a></p>
            </div>
          </li>
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">Android版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
          <!-- <li>
            <div class="d_box">
              <div class="wallet_front">
                <div class="con">
                  <p class="til">DEMO</p>
                  <p>2016.11.2/04</p>
                  <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
                </div>
                <p class="dload">查看</p>
              </div>
              <div class="wallet_qrcode"></div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </section>
  <!-- <section class="sec-d down-four">
    <div class="container">
      <div class="pull-left">
        <div class="wallet"></div>
      </div>
      <div class="pull-left info">
        <h2>标准版钱包</h2>
        <p>一套完整合规的定制化自主品牌的综合账户体系</p>
        <ul class="box-list clearfix">
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">IOS版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
          <li>
            <div class="d_box">
              <div class="con">
                <p class="til">Android版</p>
                <p>2016.11.2/04</p>
                <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
              </div>
              <p class="dload">下载</p>
            </div>
          </li>
          <li>
            <div class="d_box">
              <div class="wallet_front">
                <div class="con">
                  <p class="til">DEMO</p>
                  <p>2016.11.2/04</p>
                  <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
                </div>
                <p class="dload">查看</p>
              </div>
              <div class="wallet_qrcode"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section> -->
<!-- <section class="sec-d down-second">
  <div class="container">
    <div class="left">
      <div class="hongbao"></div>
    </div>
    <div class="left info">
      <h2>融云版IM红包</h2>
      <p>用户体验比肩微信红包，与App深度结合，让社交更有趣</p>
      <ul class="box-list clearfix">
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">IOS版</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">Android版</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">DEMO</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section> -->
<section class="sec-d down-second">
  <div class="container">
    <div class="left">
      <div class="hongbao2"></div>
    </div>
    <div class="left info">
      <h2>运营红包</h2>
      <p>提升App活跃度、注册红包、下拉红包、推送红包等多种玩法，趣味性的运营工具</p>
      <ul class="box-list clearfix">
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">IOS版</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">Android版</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
        <!-- <li>
          <div class="d_box">
            <div class="con">
              <p class="til">DEMO</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>
<!-- <section class="sec-d down-third">
  <div class="container">
    <div class="pull-right">
      <div class="hongbao2"></div>
    </div>
    <div class="pull-right info">
      <h2 style="text-align: right;">运营红包</h2>
      <p style="text-align: right;">提升App活跃度、注册红包、下拉红包、推送红包等多种玩法，趣味性的运营工具</p>
      <ul class="box-list clearfix">
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">IOS版</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">Android版</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
        <li>
          <div class="d_box">
            <div class="con">
              <p class="til">DEMO</p>
              <p>2016.11.2/04</p>
              <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
            </div>
            <p class="dload">下载</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<!-- 红包后台 -->
<section class="sec-d down-back">
  <div class="container">
    <div class="back-bg"></div>
    <div class="back-info">
      <div class="pull-left back-con">
        <h2>红包后台</h2>
        <p>个性化的界面风格、强大的用户管理、灵活的内容管理、详尽的数据管理报表</p>
      </div>
      <div class="pull-right d_box">
        <div class="con">
          <p class="til">DEMO</p>
          <p>2016.11.2/04</p>
          <p class="clearfix utime"><span class="pull-left">更新时间</span><span class="pull-right">2016.11.2</span></p>
        </div>
        <p class="dload">查看</p>
      </div>
    </div>
  </div>
</section>

<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center" style="position:relative;">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
