<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <div class="top-bar-wrapper" id="j-fixed-nav">
    <div class="row column">
      <nav class="top-bar nav clearfix">
        <div class="bar-title">
          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
        <div class="bar-left">
          <ul class="nav-main menu clearfix">
            <li>
              <a class="active" href="index.html">首页<span></span></a>
            </li>
            <li>
              <a href="packet.html">产品<span></span></a>
            </li>
            <li>
              <a href="download.html">下载<span></span></a>
            </li>
            <li>
              <a href="">开发文档<span></span></a>
              <span></span>
            </li>
            <li>
              <a href="about.html">关于我们<span></span></a>
            </li>
            <li>
              <a href="news.html">媒体报道<span></span></a>
            </li>
          </ul>
        </div>
        <div class="login bar-right">
          <ul class="menu">
            <li>
              <a class="btn-login" href="login.html">登录</a>
            </li>
            <li>
              <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<section id="main" class="main">
  <div class="login_box clearfix">
    <div class="pull-left img-list">
      <div class="img_box reg_1" style="display:block;"></div>
    </div>
    <div class="pull-right login_info">
      <div class="title">
        <h2>国内最好的金融SDK服务商</h2>
        <p>快速注册仅需3步</p>
      </div>
      <div class="r-bar">
        <div class="line">
          <span class="lv l-1"></span>
        </div>
        <ul class="step clearfix">
          <li class="active">
            <span class="icon"></span>
          </li>
          <li class="">
            <span class="icon"></span>
          </li>
          <li class="">
            <span class="icon"></span>
          </li>
        </ul>
      </div>
      <div class="reg_form">
        <form class="form_box" action="index.html" method="post" autocomplete="off">
          <div class="form-group">
            <label class="col-sm-3 control-label">
              邮箱地址
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="email" placeholder="请输入邮箱">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              密码
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="password" name="password" placeholder="请输入密码">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              确认密码
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="password" name="crmpassword" placeholder="请确认密码">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              姓名
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="username" placeholder="请输入姓名">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              职位
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="position" placeholder="请输入职位">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              手机号
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="mobileno" placeholder="请输入手机号">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              公司名称
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="company" placeholder="请输入公司名称">
              <div class="help-block"></div>
            </div>
          </div>
          <!-- <div>
            <ul>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">邮箱地址</div>
                  <div class="item-input">
                    <input class="txt" type="text" name="email" placeholder="请输入邮箱">
                    <span class="help-block"></span>
                  </div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">密码</div>
                  <div class="item-input">
                    <input class="txt" type="password" name="password" placeholder="请输入密码">
                    <span class="help-block">请输入密码</span>
                  </div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">确认密码</div>
                  <div class="item-input">
                    <input class="txt" type="password" name="crmpassword" placeholder="请确认密码">
                    <span class="help-block"></span>
                  </div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">姓名</div>
                  <div class="item-input">
                    <input class="txt" type="text" name="username" placeholder="请输入姓名">
                    <span class="help-block"></span>
                  </div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">职位</div>
                  <div class="item-input">
                    <input class="txt" type="text" name="position" placeholder="请输入职位">
                    <span class="help-block"></span>
                  </div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">手机号</div>
                  <div class="item-input"> <input class="txt" type="text" name="mobileno" placeholder="请输入手机号"></div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">公司名称</div>
                  <div class="item-input"> <input class="txt" type="text" name="company" placeholder="请输入公司名称"></div>
                  <div class="item-tip"><i class="iconfont icon-duigou"></i></div>
                </div>
              </li>
            </ul>
          </div> -->
          <!-- <span class="fx-text-red toast-form-err">帐号或密码错误</span> -->
          <a id="reg-btn" class="button cta btn-login" href="javascript:;">下一步</a>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center" style="position:relative;">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>
          <a href="">媒体报道</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
