<!DOCTYPE html>
<html>
<head>
<title><%-title%></title>
<% include ./common/meta.html %>
</head>
<body>
  <% include ./common/header.html %>
  <header>
    <div class="header-inner">
      <div class="wrap">
        <div class="focus">
          <div id="banner" class="slider-wrapper">
            <div class="img-list img_1" style="display:block;">
              <div class="banner-info01">
                <h2 class="info-title">金融魔方 国内专业金融SaaS服务提供商2</h2>
                <p class="con">合规的金融SaaS服务、快速的SDK产品相应、极致的后台管理</p>
                <a class="cta hollow-blue t-btn-l reg-info" href="">注册</a>
              </div>
            </div>
            <div class="img-list img_2" style="display:none;">
              <div class="banner-info02">
                <div class="left pic-info">
                  <div class="probg"></div>
                </div>
                <div class="right">
                  <h2 class="con-title">云红包 云钱包 云保险 理财超市</h2>
                  <p class="con">四款SDK产品，从运营工具到账户、全系理财形成闭环解决方案</p>
                  <a class="button cta hollow-blue t-btn-l reg-info" href="">注册</a>
                </div>
              </div>
            </div>
            <div class="img-list img_3" style="display:none;">
              <div class="banner-info03">
                <div class="left">
                  <p class="con-title">金融魔方让App更好玩</p>
                  <p class="con-title">让运营更高效 </p>
                  <p class="con-title">让用户爱不释手</p>
                  <a class="button cta hollow-blue t-btn-l reg-info" href="">注册</a>
                </div>
                <!-- <div class="right pic-info">
                  <div class="probg03"></div>
                </div> -->
              </div>
            </div>
            <ul class="btn-dot">
              <li dl="1" class="hover"></li>
              <li dl="2"></li>
              <li dl="3"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="sec sec-third">
    <div class="product-box">
      <div class="left pic-info">
        <div class="picture phonebg01 selected">
        </div>
        <div class="picture phonebg02">
        </div>
        <div class="picture phonebg03">
        </div>
        <div class="picture phonebg04">
        </div>
      </div>
      <div class="left text-info">
        <div class="tab selected">
          <h2 class="title-info">云红包</h2>
          <ul>
            <li>IM红包、运营红包 </li>
            <li>轻量级运营工具 、增加App趣味性</li>
            <li>活跃用户 增加用户粘性  流量变现 </li>
          </ul>
        </div>
        <div class="tab">
          <h2 class="title-info">云钱包</h2>
          <ul>
            <li>帮助App建立专属的类支付宝+余额宝 </li>
            <li>助力百万中小企业实现互联网金融+ </li>
          </ul>
        </div>
        <div class="tab">
          <h2 class="title-info">云保险</h2>
          <ul>
            <li>根据用户的不同需求，在不同场景内定制 </li>
            <li>个性化的特色保险 </li>
            <li>满足用户的多种保险需求 </li>
          </ul>
        </div>
        <div class="tab">
          <h2 class="title-info">理财超市</h2>
          <ul>
            <li>强大的金融背景、丰富的金融资源 </li>
            <li>与百余家金融机构合作，帮助企业创造更多价值 </li>
          </ul>
        </div>
        <ul class="tabs four-tabs">
          <li>
            <a href="javascript:;" class="selected">
              <div class="pro-icons icon-hb"></div>
              <span>云红包</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pro-icons icon-qb"></div>
              <span>云钱包</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pro-icons icon-bx"></div>
              <span>云保险</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pro-icons icon-lc"></div>
              <span>理财超市</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="product-car home-testimonial">
    <div class="carousel">
      <p class="title"> 快速产品响应<span class="c_img"></span>提高运营效率<span class="c_img"></span>降低开发成本</p>
    </div>
  </section>
  <section class="product-info">
    <div class="pull-left">
      <div class="info">
        <h2 class="pro-tit">极致的后台管理体验</h2>
        <ul class="pro-con">
          <!-- <span class="dot"> -->
          <li>数据整合</li>
          <li>资源整合</li>
          <li>超前的服务体验</li>
          <li>用户管理</li>
        </ul>
        <div id="line_box" class="lines"></div>
      </div>
    </div>
    <div class="pull-right">
      <div class="sec-icon"></div>
    </div>

  </section>
  <section class="sec sec-second">
    <div class="service-box">
      <div class="tit">为企业级客户提供
        <div class="txtScroll-top scroll">
          <div class="bd">
            <ul class="list">
              <li><span class="words">专业</span></li>
              <li><span class="words">快速</span></li>
              <li><span class="words">全面</span></li>
            </ul>
          </div>
        </div>
      的服务体验</div>
      <div id="multipleColumn" class="companyColumn">
        <div class="bd">
          <div class="list clearfix">
              <ul>
                <li><figure class="cm-icon icon-1"></figure></li>
                <li><figure class="cm-icon icon-2"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-3"></figure></li>
                <li><figure class="cm-icon icon-4"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-5"></figure></li>
                <li><figure class="cm-icon icon-6"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-7"></figure></li>
                <li><figure class="cm-icon icon-8"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-9"></figure></li>
                <li><figure class="cm-icon icon-10"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-11"></figure></li>
                <li><figure class="cm-icon icon-12"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-13"></figure></li>
                <li><figure class="cm-icon icon-14"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-15"></figure></li>
                <li><figure class="cm-icon icon-16"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-17"></figure></li>
                <li><figure class="cm-icon icon-18"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-19"></figure></li>
                <li><figure class="cm-icon icon-20"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-21"></figure></li>
                <li><figure class="cm-icon icon-22"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-23"></figure></li>
                <li><figure class="cm-icon icon-24"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-25"></figure></li>
                <li><figure class="cm-icon icon-26"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-27"></figure></li>
                <li><figure class="cm-icon icon-28"></figure></li>
              </ul>
              <ul>
                <li><figure class="cm-icon icon-29"></figure></li>
                <li><figure class="cm-icon icon-30"></figure></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% include ./common/footer.html %>
</div>
</body>
</html>
