<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <% include ./common/nav.html %>
  <div class="inc-headerfixed"></div>
  <section class="inscure-banner">
    <div class="main">
      <div class="sub-page">
        <div class="sub-nav">
          <ul class="clearfix">
            <li><a href="packet.html">云红包</a></li>
            <li><a href="wallet.html">云钱包</a></li>
            <li><a href="insure.html" class="selected">云保险</a></li>
            <li><a href="market.html" >理财超市</a></li>
          </ul>
        </div>
      </div>
      <div class="banner-info">
        <div class="left">
          <div class="con-info">
            <p class="title">云保险</p>
            <p class="sub-title">一套完整的保险在线销售SDK</p>
          </div>
          <a id="qr_btn" class="btn-lg btn-w" href="javascript:;">欢迎体验</a>
        </div>
      </div>
      <div class="iconwall">
        <div class="iconwall-item">
          <i class="iconfont">&#xe601;</i>
          <p class="icon-til">在线投保</p>
        </div>
        <div class="iconwall-item">
          <div><i class="iconfont">&#xe602;</i></div>
          <p class="icon-til">保单管理</p>
        </div>
        <div class="iconwall-item">
          <div><i class="iconfont">&#xe606;</i></div>
          <p class="icon-til">在线理赔</p>
        </div>
        <div class="iconwall-item">
          <div><i class="iconfont">&#xe604;</i></div>
          <p class="icon-til">产品管理</p>
        </div>
        <div class="iconwall-item">
          <div><i class="iconfont">&#xe605;</i></div>
          <p class="icon-til">用户管理</p>
        </div>
        <div class="iconwall-item">
          <div><i class="iconfont">&#xe603;</i></div>
          <p class="icon-til">数据统计</p>
        </div>
      </div>
      <div class="qr-box">
        <div class="code"></div>
        <h2>扫描二维码，体验触屏云保险服务</h2>
      </div>
    </div>
  </section>

  <section class="sec-insure-third">
    <div class="con-info">
      <p>我们不只是保险通道</p>
      <p>在不同的场景</p>
      <p>提供定制化、个性化的特色保险</p>
    </div>
  </section>
  <section class="sec-insure-card">
    <div class="explain-content">
      <div class="explain-card">
        <div class="explain__full broken"></div>
        <div class="row">
          <div class="explain-card__text" style="text-align:center;">
            <p style="font-size: 26px;">碎屏险  加班险  赏月险 </p>
            <p style="font-size: 26px;">证件遗失险  红包保险</p>
            <p style="font-size: 20px;">跨界创新 更多场景定制保险</p>
          </div>
        </div>
      </div>
      <div class="explain-card">
        <div class="explain__full travel"></div>
        <div class="row">
          <div class="explain-card__text" style="text-align:left;">
            <p style="font-size: 20px;">每一次旅行、每一次出差   </p>
            <p style="font-size: 20px;">飞机、火车、汽车不停辗转</p>
            <p style="font-size: 20px;">去的人只希望顺利到达，等的人只希望平安归来</p>
            <p style="font-size: 24px;">一份交通意外险，多一份保障，多一份安心</p>
          </div>
        </div>
      </div>
      <div class="explain-card">
        <div class="explain__full baby"></div>
        <div class="row">
          <div class="explain-card__text" style="text-align:left;padding: 15px 15px 10px;">
            <p style="font-size: 20px;">每一位宝妈第一怀宝宝，心情是激动的，更是紧张的</p>
            <p style="font-size: 20px;">一次次产检，一次次筛查</p>
            <p style="font-size: 20px;">她们只希望宝宝能健康</p>
            <p style="font-size: 20px;">她们需要的不多 </p>
            <p style="font-size: 24px;">也许只是一份唐筛保险</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec sec-second">
    <div class="service-box">
      <h2 class="tit">900款保险产品一站式选购</h2>
      <div id="multipleColumn" class="companyColumn">
        <div class="bd">
          <div class="list clearfix">
              <ul>
                <li><figure class="insure-icon icon-1"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-2"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-3"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-4"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-5"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-6"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-7"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-8"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-9"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-10"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-11"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-12"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-13"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-14"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-15"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-16"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-17"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-18"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-19"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-20"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-21"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-22"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-23"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-24"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-25"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-26"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-27"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-28"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-29"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-30"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-31"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-32"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-33"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-34"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-35"></figure></li>
              </ul>
              <ul>
                <li><figure class="insure-icon icon-36"></figure></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% include ./common/footer.html %>
</body>
</html>
