<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<% include ./common/meta.html %>
</head>
<body>
<% include ./common/header.html %>
<section id="main" class="main">
  <div class="login_box clearfix">
    <div class="pull-left img-list">
      <div class="img_box img_1" style="display:block;"></div>
      <div class="img_box img_2" style="display:none;"></div>
      <div class="img_box img_3" style="display:none;"></div>
    </div>
    <div class="pull-right login_info">
      <div class="title">
        <h2>国内最好的金融SDK服务商</h2>
        <p>——用心做产品</p>
      </div>
      <div class="r-bar">
        <div class="line">
          <span class="lv"></span>
        </div>
      </div>
      <div class="login_form">
        <form id="form" class="form_box" action="/api/passport/login" method="post" autocomplete="off">
          <div class="form-group">
            <label class="col-sm-3 control-label">
              用户名
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="email" placeholder="请输入邮箱">
              <div class="help-block"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">
              密码
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="password" name="password" placeholder="请输入密码">
              <div class="help-block"></div>
            </div>
          </div>
          <!-- <div>
            <ul>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">用户名</div>
                  <div class="item-input"> <input class="txt" type="text" name="email" placeholder="请输入邮箱"></div>
                </div>
              </li>
              <li class="clearfix">
                <div class="item-content">
                  <div class="item-title label">密码</div>
                  <div class="item-input"> <input class="txt" type="password" name="password" placeholder="请输入密码"></div>
                </div>
              </li>
            </ul>
          </div> -->
          <div class="form-group">
            <label class="col-sm-3 control-label">
            </label>
            <div class="col-sm-8">
                <span class="fx-text-red toast-form-err">
                  <% if (errmsg) { %>
                      <%-errmsg%>
                  <% } %>
                </span>
            </div>
          </div>
          <div class="form_option">
            <span class="text-remember">
              <span class="j-checkbox-box">
	                <span class="fx-checkbox active"></span>
                  <input id="persist_state" type="hidden" name="persistenceHint" value="true">
              </span>
              <label class="fx-text-gray" for="isSaveCookie">自动登录</label>
            </span>
            <a class="btn-findpwd text-blue" href="retrPassword.html">忘记密码</a>
          </div>
          <input id="login-btn" type="submit" class="button cta btn-login" value="登录"></input>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center" style="position:relative;">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>
          <a href="">媒体报道</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
