<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
</head>
<body>
<div class="top-bar-wrapper" id="j-fixed-nav">
  <div class="row column">
    <nav class="top-bar nav clearfix">
      <div class="bar-title">
        <a href="/">
          <div class="logo"></div>
        </a>
      </div>
      <div class="bar-left">
        <ul class="nav-main menu clearfix">
          <li>
            <a class="active" href="index.html">首页<span></span></a>
          </li>
          <li>
            <a href="packet.html">产品<span></span></a>
          </li>
          <li>
            <a href="download.html">下载<span></span></a>
          </li>
          <li>
            <a href="">开发文档<span></span></a>
            <span></span>
          </li>
          <li>
            <a href="about.html">关于我们<span></span></a>
          </li>
          <li>
            <a href="news.html">媒体报道<span></span></a>
          </li>
        </ul>
      </div>
      <div class="login bar-right">
        <ul class="menu">
          <li>
            <a class="btn-login" href="login.html">登录</a>
          </li>
          <li>
            <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<section class="news-banner">
  <div class="main">
    <h2>媒体聚焦</h2>
    <p>共同见证金融魔方的成长</p>
  </div>
</section>

<section class="sec-news-second">
  <div class="container">

    <ul class="artice_list">
      <li class="clearfix">
        <div class="img_box">
          <a href="#" target="_blank" rel="nofollow">
            <!-- <img src="http://a.jrmf360.com/public/cube/images/new-7.png" alt=""> -->
          </a>
        </div>
        <div class="intro">
          <div class="title">
            <h2 class="pull-left"><a href="#">一路财富携手北大汇丰再续爱心 人才引进助力贫困学子圆梦人生</a></h2>
            <span class="time">2016-10-18 14:40</span>
          </div>
          <div class="info">
            在国际扶贫日到来前夕，10月14日至15日，时隔一年之后，一路财富再次携手北京大学汇丰商学院EDP同学会、北京常春助学慈善基金会众多爱心人士共同参与山西大同直捐助学行活动。本次大同周边6个贫困县的300名品学兼优的高中学子，每人收到1000元助学金及励志书籍...
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="img_box">
          <a href="#" target="_blank" rel="nofollow">
            <!-- <img src="http://a.jrmf360.com/public/cube/images/new-7.png" alt=""> -->
          </a>
        </div>
        <div class="intro">
          <div class="title">
            <h2 class="pull-left">一路财富携手北大汇丰再续爱心 人才引进助力贫困学子圆梦人生</h2>
            <span class="time">2016-10-18 14:40</span>
          </div>
          <div class="info">
            在国际扶贫日到来前夕，10月14日至15日，时隔一年之后，一路财富再次携手北京大学汇丰商学院EDP同学会、北京常春助学慈善基金会众多爱心人士共同参与山西大同直捐助学行活动。本次大同周边6个贫困县的300名品学兼优的高中学子，每人收到1000元助学金及励志书籍...
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="img_box">
          <a href="#" target="_blank" rel="nofollow">
            <!-- <img src="http://a.jrmf360.com/public/cube/images/new-7.png" alt=""> -->
          </a>
        </div>
        <div class="intro">
          <div class="title">
            <h2 class="pull-left">一路财富携手北大汇丰再续爱心 人才引进助力贫困学子圆梦人生</h2>
            <span class="time">2016-10-18 14:40</span>
          </div>
          <div class="info">
            在国际扶贫日到来前夕，10月14日至15日，时隔一年之后，一路财富再次携手北京大学汇丰商学院EDP同学会、北京常春助学慈善基金会众多爱心人士共同参与山西大同直捐助学行活动。本次大同周边6个贫困县的300名品学兼优的高中学子，每人收到1000元助学金及励志书籍...
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="img_box">
          <a href="#" target="_blank" rel="nofollow">
            <!-- <img src="http://a.jrmf360.com/public/cube/images/new-7.png" alt=""> -->
          </a>
        </div>
        <div class="intro">
          <div class="title">
            <h2 class="pull-left">一路财富携手北大汇丰再续爱心 人才引进助力贫困学子圆梦人生</h2>
            <span class="time">2016-10-18 14:40</span>
          </div>
          <div class="info">
            在国际扶贫日到来前夕，10月14日至15日，时隔一年之后，一路财富再次携手北京大学汇丰商学院EDP同学会、北京常春助学慈善基金会众多爱心人士共同参与山西大同直捐助学行活动。本次大同周边6个贫困县的300名品学兼优的高中学子，每人收到1000元助学金及励志书籍...
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="img_box">
          <a href="#" target="_blank" rel="nofollow">
            <!-- <img src="http://a.jrmf360.com/public/cube/images/new-7.png" alt=""> -->
          </a>
        </div>
        <div class="intro">
          <div class="title">
            <h2 class="pull-left">一路财富携手北大汇丰再续爱心 人才引进助力贫困学子圆梦人生</h2>
            <span class="time">2016-10-18 14:40</span>
          </div>
          <div class="info">
            在国际扶贫日到来前夕，10月14日至15日，时隔一年之后，一路财富再次携手北京大学汇丰商学院EDP同学会、北京常春助学慈善基金会众多爱心人士共同参与山西大同直捐助学行活动。本次大同周边6个贫困县的300名品学兼优的高中学子，每人收到1000元助学金及励志书籍...
          </div>
        </div>
      </li>
    </ul>
    <div class="loading_more cta">
      加载更多
    </div>
  </div>
</section>
<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>
          <a href="">媒体报道</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
