<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <% include ./common/nav.html %>
  <div class="inc-headerfixed"></div>
  <div class="sub-page">
    <div class="sub-nav">
      <ul class="clearfix">
        <li><a href="#" class="selected">云红包</a></li>
        <li><a href="wallet" >云钱包</a></li>
        <li><a href="insure" >云保险</a></li>
        <li><a href="market" >理财超市</a></li>
      </ul>
    </div>
  </div>
  <section class="sec-video">
    <h2 class="title">云红包SDK 让每个App都能玩红包</h2>
    <div class="screen screen1 left">
      <div class="window">
        <div class="message-list scrollable">
          <ul id="scroll" class="message-scroll">
            <li class="clearfix myMsg nextShow1">
                <div class="userLogo"></div>
                <div class="userMsg left-hongbao">
                </div>
                <div class="pter-js-get pter-tip"></div>
            </li>
            <li class="clearfix youMsg">
                <div class="userLogo"></div>
                <div class="userMsg" style="width: 210px!important;height: 40px;margin-top: 6px;line-height: 30px !important;"><div class="arrow-left"></div>哇！任何场景的App都可以实现吗？</div>
            </li>
            <li class="clearfix myMsg">
                <div class="userLogo"></div>
                <div class="userMsg" style="width: 210px;"><div class="arrow-right"></div>是的，不只是IM红包，还有更好玩的运营红包，让每一个App都能发红包！</div>
            </li>
            <li class="clearfix youMsg">
                <div class="userLogo"></div>
                <div class="userMsg line1"><div class="arrow-left"></div>技术对接复杂吗？开发周期呢？</div>
            </li>
            <li class="clearfix myMsg">
                <div class="userLogo"></div>
                <div class="userMsg"><div class="arrow-right"></div>放心吧，红包SDK拥有成熟的技术接口，只需要双方简单调试，最快3小时就能上线了!</div>
            </li>
            <li class="clearfix youMsg">
                <div class="userLogo"></div>
                <div class="userMsg"><div class="arrow-left"></div>太棒了！这样就能更加丰富运营工具，活跃用户了！</div>
            </li>
            <!-- <li class="clearfix myMsg typeLast">
                <div class="userLogo"></div>
                <div class="userMsg line1" style="width: 60px!important;"><div class="arrow-right"></div>Great!</div>
            </li> -->
          </ul>
        </div>
        <div class="message-input">
          <div class="text-input">
            <div class="message-area">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="screen screen2 left">
      <div class="window window2">
        <div class="message-list scrollable message-list2">
          <ul class="message-scroll message-scroll2">
            <li class="clearfix youMsg nextShow1">
                <div class="userLogo"></div>
                <div class="userMsg right-hongbao"></div>
                <div class="mofang-js-get mf-tip"></div>
            </li>
            <li class="clearfix myMsg">
                <div class="userLogo"></div>
                <div class="userMsg" style="width: 210px!important;height: 40px;margin-top: 6px;line-height: 30px !important;"><div class="arrow-right"></div>哇！任何场景的App都可以实现吗？</div>
            </li>
            <li class="clearfix youMsg">
                <div class="userLogo"></div>
                <div class="userMsg"><div class="arrow-left"></div>是的，不只是IM红包，还有更好玩的运营红包，让每一个App都能发红包！</div>
            </li>
            <li class="clearfix myMsg">
                <div class="userLogo"></div>
                <div class="userMsg line1"><div class="arrow-right"></div>技术对接复杂吗？开发周期呢？</div>
            </li>
            <li class="clearfix youMsg">
                <div class="userLogo"></div>
                <div class="userMsg"><div class="arrow-left"></div>放心吧，红包SDK拥有成熟的技术接口，只需要双方简单调试，最快3小时就能上线了!</div>
            </li>
            <li class="clearfix myMsg">
                <div class="userLogo"></div>
                <div class="userMsg"><div class="arrow-right"></div>太棒了！这样就能更加丰富运营工具，活跃用户了！</div>
            </li>
            <li class="clearfix myMsg typeLast">
                <div class="userLogo"></div>
                <div class="userMsg right-hongbao2"></div>
            </li>
          </ul>
        </div>
        <div class="message-input">
          <div class="text-input">
            <div class="message-area2">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="" class="button cta use-info">免费试用</a>
  </section>
  <section class="packet-banner home-testimonial">
    <div class="orbit">
      <ul class="orbit-container">
        <li class="orbit-slide" data-slide="0"  style="position: relative; max-height: 620px; top: 0px; display: block;">
          <div class="slide-content content01">
            <div class="left phone01"></div>
            <div class="right info01">
              <h2 class="info-title">留住客户是关键</h2>
              <p class="info-con">当用户首次下载App时，<br> 一个推送红包、一个启动红包、一个注册红包 <br> 都将有机会牢牢抓住用户的心！ </p>
            </div>
          </div>
          <div class="orbit-image guide"></div>
        </li>
        <li class="orbit-slide" data-slide="1" style="position: relative; max-height: 620px; top: 0px; display: none;">
          <div class="slide-content">
            <div class="left info02">
              <h2 class="info-title">粘住用户是关键</h2>
              <p class="info-con">当用户对你的App有一定认知，重复登录的时候，<br> 用任务红包、签到红包不断的刺激与互动 <br> 让你和用户黏在一起 玩在一起！ </p>
            </div>
            <div class="right phone02"></div>
          </div>
          <div class="orbit-image grow"></div>
        </li>
        <li class="orbit-slide" data-slide="2" style="position: relative; max-height: 620px; top: 0px; display: none;">
          <div class="slide-content">
            <div class="left info03">
              <h2 class="info-title">懂用户是关键</h2>
              <p class="info-con">当App的用户越来越多，关注度一路飙升的时候<br> 是时候挖掘他们“最需要”的时候了<br> 也许是一份VIP红包，也许是一份母婴保险、<br>
                也许是一份可增值的消费计划、也许是一份定制理财产品<br> 无论什么，不断满足总是没有错的！</p>
            </div>
            <div class="right phone03"></div>
          </div>
          <div class="orbit-image chengdian"></div>
        </li>
        <li class="orbit-slide" data-slide="3" style="position: relative; max-height: 620px; top: 0px; display: none;">
          <div class="slide-content content04">
            <div class="left phone04"></div>
            <div class="right info04">
              <h2 class="info-title">双赢是关键</h2>
              <p class="info-con">用户为什么长期留在这里， 产品好、体验好、更重要的是你的App能增值 <br> 用户在你这里收发红包、消费都能享受增值体验，<br>
                而App本身，也会因为用户沉淀的资金而享受年化2%-4%的收益</p>
            </div>
          </div>
          <div class="orbit-image shouyi"></div>
        </li>
        <li class="orbit-slide" data-slide="4" style="position: relative; max-height: 620px; top: 0px; display: none;">
          <div class="slide-content">
            <div class="left info05">
              <h2 class="info-title">带动用户是关键</h2>
              <p class="info-con">当你已经有海量且忠实的用户时<br> 用分享红包带动用户玩起来吧<br> 你带动用户，用户带动用户<br> 一传十，十传百，没有比这再HIGH的事情了!</p>
            </div>
            <div class="right phone05">
              <div class="spread_gif"></div>
            </div>
          </div>
          <div class="orbit-image prop"></div>
        </li>
      </ul>
      <nav class="orbit-bullets">
        <ul id="bullets" class="clearfix">
          <li data-slide="0" class="is-active">引导期 <span class="iconfont icon-youjiantou"></span></li>
          <li data-slide="1">成长期 <span class="iconfont icon-youjiantou"></span></li>
          <li data-slide="2">沉淀期 <span class="iconfont icon-youjiantou"></span></li>
          <li data-slide="3">收益期 <span class="iconfont icon-youjiantou"></span></li>
          <li data-slide="4">传播期 <span class="iconfont icon-youjiantou"></span></li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="packet-info">
    <div class="left">
      <div class="info">
        <h2 class="title">云红包SDK的产品价值点</h2>
        <ul class="con">
          <li>产品可快速对接，最快3小时</li>
          <li>解决用户粘性，活跃用户，建立用户账户体系</li>
          <li>超前的服务体验</li>
          <li>云红包多种玩法可以灵活适应场景并配合运营需求</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="phonebg"></div>
      <div id="pshadow" class="pshadow"></div>
    </div>

  </section>
  <section class="sec-ver">
    <div class="pro-info">
      <div class="pro-wrap">
        <p class="con">欢迎体验定制化场景服务应对更多客户需求带来更极致的用户体验</p>
        <a href="" class="button cta use-info">定制服务</a>
      </div>
    </div>
  </section>
  <% include ./common/footer.html %>
</body>
</html>
