<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <header class="inc-header">
    <div class="row column">
      <nav class="top-bar">
        <div class="bar-title">
          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
        <div class="bar-left">
          <ul class="nav-main menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="packet.html" class="active">产品</a></li>
            <li><a href="">下载</a></li>
            <li><a href="">开发文档</a></li>
            <li><a href="about-me.html">关于我们</a></li>
            <li><a href="news.html">媒体报道</a></li>
          </ul>
        </div>
        <div class="login bar-right">
          <ul class="menu">
            <li>
              <a class="btn-login" href="login.html">登录</a>
            </li>
            <li>
              <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="inc-headerfixed"></div>
  <div class="sub-page price">
    <div class="sub-nav">
      <ul class="clearfix">
        <li><a href="#" class="selected">红包收费标准</a></li>
        <li><a href="wallet-price.html" >钱包收费标准</a></li>
      </ul>
    </div>
  </div>

<section class="sec-price">
  <div class="container">
    <div class="price-til">
      <h2>收费标准</h2>
      <p>为付费用户提供定制化服务</p>
    </div>
    <div class="price-bg">

    </div>
    <div class="desc">
      <p>
        <span class="number">1</span>以上服务均按SaaS软件服务租用模式付费。按月计算，按年支付。
      </p>
      <p>
        <span class="number">2</span>如果您无法估测自己平台的红包、钱包交易流水规模，可以使用免费版，如免费版各种权限不能满足您的需求，建议您选择最低级别的版本开通付费，当您的交易流水触达所开版本交易上限后，
        补差价即可升级为更高级别的版本。<br>
        <span>差价＝高等级服务费－当前等级月服务费×当前版本已使用月数（不足一月按一月计算）</span>
      </p>
      <p>
        <span class="number">3</span>如以上标准版本功能、服务不能满足您的需求，金融魔方提供定制服务，定制标准按人/天工作量收费。<br>
        详情咨询：400－001－1566 或 <a href="#"><strong class="reg">注册提交</strong></a> 获取报价。
      </p>
    </div>
  </div>
</section>

<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center" style="position:relative;">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
