<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!-- <link rel="stylesheet" href="http://a.jrmf360.com/public/cube/index.css?ver=11"> -->
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <div class="top-bar-wrapper" id="j-fixed-nav">
    <div class="row column">
      <nav class="top-bar nav clearfix">
        <div class="bar-title">
          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
        <div class="bar-left">
          <ul class="nav-main menu clearfix">
            <li>
              <a class="active" href="index.html">首页<span></span></a>
            </li>
            <li>
              <a href="packet.html">产品<span></span></a>
            </li>
            <li>
              <a href="download.html">下载<span></span></a>
            </li>
            <li>
              <a href="">开发文档<span></span></a>
              <span></span>
            </li>
            <li>
              <a href="about.html">关于我们<span></span></a>
            </li>
            <li>
              <a href="news.html">媒体报道<span></span></a>
            </li>
          </ul>
        </div>
        <div class="login bar-right">
          <ul class="menu">
            <li>
              <a class="btn-login" href="login.html">登录</a>
            </li>
            <li>
              <a class="button cta hollow-blue t-btn-l" href="emailReg.html">注册</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<section id="main" class="">
  <div class="login_box clearfix">
    <div class="pull-left img-list">
      <div class="img_box reg_2" style="display:block;"></div>
    </div>
    <div class="pull-right login_info">
      <div class="title">
        <h2>国内最好的金融SDK服务商</h2>
      </div>
      <div class="r-bar">
        <div class="line">
          <span class="lv l-2"></span>
        </div>
        <ul class="step clearfix">
          <li class="active">
            <span class="icon"></span>
          </li>
          <li class="active">
            <span class="icon"></span>
          </li>
          <li class="">
            <span class="icon"></span>
          </li>
        </ul>
      </div>
      <div class="reg_form form_box">
        <div class="content">
          邮件已经发送到610504635@qq.com，请及时查收，立即去<a href="#">查看邮件</a>。
        </div>
        <input type="hidden" name="email" value="610504635@qq.com" />
        <a id="btn-send" class="cta btn-login" href="javascript:;">重新发送邮件 (50)</a>
      </div>
    </div>
  </div>
</section>
<footer class="inc-footer">
  <div class="focus">
    <div class="left">
      <h2 class="title">优质产品</h2>
      <ul>
        <li><a href="">云红包</a></li>
        <li><a href="">云保险</a></li>
        <li><a href="">云钱包</a></li>
        <li><a href="">理财超市</a></li>
      </ul>
    </div>
    <div class="center" style="position:relative;">
      <h2 class="title">联系我们</h2>
      <ul>
        <li>联系电话: 010-88312877-8045</li>
        <li>商务合作：hz@yilucaifu.com</li>
        <li>公司地址: 北京西城区阜成门大街2号万通新世界广场A座22层2208</li>
        <li>企业公众号：
          <span class="wechat__logo">微信 ></span>
          <div class="wechat"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <h2 class="title">帮助与支持</h2>
      <ul>
        <li>
          <a href="">开发者文档</a>
        </li>
        <li>
          <a href="">关于我们</a>
        </li>
        <li>
          <a href="">媒体报道</a>
        </li>
        <li>版本说明文档（后续开发中...）</li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="copy">
    <p>
      版权所有©北京一路魔方科技有限公司     京ICP备16020273号-1
    </p>
    <p>一路财富旗下公司</p>
  </div>
</footer>
</body>
</html>
