<!DOCTYPE html>
<html>
<head>
<title>金融魔方：为App一键式接入金融服务</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="robots" content="all"/>
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="金融魔方通过提供金融SDK让每一个APP快速拥有金融服务能力，一键式接入金融SDK，可定制钱包、红包、理财、白条、保险等产品，提高盈利能力，提升运营效率。"/>
<meta name="keywords" content="金融魔方,金融SDK,云红包,云钱包,云保险,移动SDK,互联网金融解决方案"/>
<!--[if lt IE9]>
<script src="//a.jrmf360.com/public/vendor/html5shiv.js?ver=11"></script>
<![endif]-->
</head>
<body>
  <% include ./common/nav.html %>
  <div class="inc-headerfixed"></div>
  <section class="sec-banner">
    <div class="sub-page">
      <div class="sub-nav">
        <ul class="clearfix">
          <li><a href="packet">云红包</a></li>
          <li><a href="#" class="selected">云钱包</a></li>
          <li><a href="insure" >云保险</a></li>
          <li><a href="market" >理财超市</a></li>
        </ul>
      </div>
    </div>
    <div class="banner-info">
      <div class="left">
        <div class="con-info">
          <p class="title">定制专属的类支付宝+余额宝 </p>
          <p class="title">助力中小企业实现互联网金融+ </p>
        </div>
        <a class="button cta t-btn-l reg-info" href="">云钱包SDK下载</a>
      </div>
      <div class="right phone-wallet"></div>
    </div>
  </section>

  <section class="wallet-info">
    <div class="main">
      <div class="fea-con">
        <div class="site1 site1_hide"></div>
        <div class="site2 site1_hide"></div>
        <div class="site3 site1_hide"></div>
        <div class="site4 site1_hide"></div>
        <div class="site5 site1_hide"></div>
        <div class="site1 site1_show">账户搭建</div>
        <div class="site2 site1_show">后台管理</div>
        <div class="site3 site1_show">余额增值</div>
        <div class="site4 site1_show">消费支付</div>
        <div class="site5 site1_show">清结算</div>
        <div class="prompt-box">
          <p class="til">云钱包基础功能</p>
          <p class="con">最快3天上线</p>
        </div>
      </div>
      <div class="sub-con">
        <div class="selected">
          <p class="title">强金融账户</p>
          <p class="con">帮助App建立金融强账户体系，无需额外开发，SDK嵌入</p>
        </div>
        <div class="">
          <p class="title">后台管理</p>
          <p class="con">资金流水、用户充值消费记录等详细的数据报表一目了然</p>
        </div>
        <div class="">
          <p class="title">余额增值</p>
          <p class="con">提供货币基金对接，使用户充值到钱包内的余额享受增值服务</p>
        </div>
        <div class="">
          <p class="title">消费&充值</p>
          <p class="con">用户可使用微信、支付宝、银行卡等方式充值到钱包，余额可实时消费支付</p>
        </div>
        <div class="">
          <p class="title">清结算系统</p>
          <p class="con">为用户提供一套完备的清结算体系轻松实现自动清算和结算</p>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-wallet-third">
    <div class="con-info">
      <p class="title"> 金融数据让用户不在陌生</p>
      <p class="sub-title">点滴消费行为汇集成河</p>
    </div>
  </section>
  <section class="sec-back">
    <div class="back-bg">
    </div>
    <!-- <a href="#" class="btn-w">登录钱包后台体验产品</a> -->
  </section>
  <section class="sec-ver">
    <div class="pro-info">
      <div class="pro-wrap">
        <p class="con">云钱包为您提供完整的资金、营销、金融账户体系带来更加安全便捷的服务体验</p>
        <a class="button cta t-btn-l reg-info" href="">定制服务</a>
      </div>
    </div>
  </section>
  <% include ./common/footer.html %>
</body>
</html>
